<div class="container">
    {{>header}}
    <div class="row justify-content-between">
        <div class='col-3'>
            {{>profile}}
        </div>
        <div class='col-8'>
            <div class="row mt-3">
                <form action="/posts/add" method="POST" class="col-12">

                    <input type="text" name="created_at" value="{{currentTime}}" hidden>
                    <input type=" text" name="user_id" value="{{user.id}}" hidden>
                    <div class=" form-group">
                        <label class="subject-label mb-2" for="subject">What is your question
                            today?</label>
                        <input type="text" class="form-control col-lg-7 mb-3" name="subject" placeholder="subject">
                        <textarea class="form-control col-lg-7 mb-3" rows="4" name="message"
                            placeholder="explain in detail..."></textarea>
                        <div class="d-flex">
                            <select class="form-control form-control-md col-sm-3" placeholder="topic" name="topic">
                                <option value="php">php</option>
                                <option value="java">java</option>
                                <option value="nodejs">nodejs</option>
                            </select>
                            <button type="submit" class="btn btn-primary ml-5">Post to timeline</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row mt-3 mb-5">
                <form action="/posts/search-by-topic" method="POST" class="form-inline col-12 justify-items-center">

                    <label class="font-weight-bold">Search By Topic: </label>
                    <select class="form-control form-control-md col-sm-3 ml-3" name="topic">
                        {{#each topics}}
                        <option value={{this.topic}}>{{this.topic}}</option>
                        {{/each}}
                    </select>

                    <button type="submit" class="btn btn-primary ml-3">Go -></button>
                </form>
            </div>
            <div class="row mb-2 font-weight-bold">Latest discussion</div>
            {{!-- latest discussion --}}
            <div class="row">
                {{>posts}}
            </div>
        </div>
    </div>