<div class="container">
    {{>header}}
    <div class="row justify-content-between">
        <div class='col-3'>
            {{>profile}}
        </div>
        <div class='col-8'>
            <h2>All posts</h2>
            <div class="row">
                {{>posts}}
            </div>
        </div>
    </div>