{{>header}}
<div class="d-flex justify-content-around" >
    <div id='left-col'>
        <div id='img-wrapper'>
            <img id='proPic' src="https://www.rd.com/wp-content/uploads/2017/09/01-shutterstock_476340928-Irina-Bg-760x506.jpg" alt="">
        </div>
        <div>Sean Williamson</div>
        <div>10 year of experience working in</div>
    </div>
    <div id='right-col'>
        <div>
            rightside 1
        </div>
        <div>
            rightside 2
        </div>
    </div>

</div>