<div class="d-flex">
    <div id='leftSide' class="w-50">
        <div id='title' class='text-wrap'>Knowledge<mark class='blue'>Base</mark></div>
        <div id='imageDiv' class=''><img id='mainImage' src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg"></div>
    </div>
    <div id='rightSide'>
        <div>
            <form action="/login" method="POST">
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="email" class="form-control" name="email" placeholder="email" required="required">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="password" class="form-control" name="password" placeholder="password" required="required">
                        {{#if loginFail}}<span id="incorrectPassword">Incorrect password.</span>{{/if}}
                    </div>
                    <div class="form-group col-md-4">
                        <button type="submit" class="btn btn-info">Log In</button>
                    </div>
                </div>
            </form>
        </div>
        <div id='slogan'>Join the worlds largest community for knowledge sharing</div>
        <div>
            <form action= "/signup" method="POST" >
                <div id="name" class="form-ro col-lg-7">
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="firstname" placeholder="firstname" required="required">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="text" class="form-control" name="lastname" placeholder="lastname" required="required">
                    </div>
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="email" class="form-control" name="email" placeholder="email" required="required">
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="password" class="form-control" name="password" id="password" placeholder="password" required="required">
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="password" class="form-control" id="passwordConfirm" placeholder="password confirm" required="required">
                </div>
                <div id='submitBtn' class="form-group col-lg-7 info">
                    <button type="submit" class="btn btn-info">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>