<div class="d-flex">
    <div id='leftSide' class="w-50">
        <div id='title' class='text-wrap'>Knowledge<mark class='blue'>Base</mark></div>
        <div id='imageDiv' class=''><img id='mainImage'src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg"></div>
    </div>
    <div id='rightSide'>
        <div>
            <form>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="email">
                    </div>
                    <div class="form-group col-md-4">
                        <input type="password" class="form-control" id="inputPassword4" placeholder="password">
                    </div>
                    <div class="form-group col-md-4"> 
                        <button type="submit" class="btn btn-info">Log In</button>
                    </div>
                </div>
            </form>
        </div>
        <div id='slogan'>Join the worlds largest community for knowledge sharing</div>
        <div>
            <form>
                <div id="name" class="form-ro col-lg-7">
                    <div class="form-group col-md-6">
                        <input type="email" class="form-control" id="inputEmail4" placeholder="firstname">
                    </div>
                    <div class="form-group col-md-6">
                        <input type="password" class="form-control" id="inputPassword4" placeholder="lastname">
                    </div>
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="text" class="form-control" id="inputAddress" placeholder="email">
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="password">
                </div>
                <div class="form-group col-lg-7 info">
                    <input type="text" class="form-control" id="inputAddress2" placeholder="password confirm">
                </div>
                <div id='submitBtn' class="form-group col-lg-7 info"> 
                    <button type="submit" class="btn btn-info">Sign Up</button>
                </div>
            </form>
        </div>
    </div>
</div>