<div class="d-flex flex-row bd-highlight mb-3">
    <div class="w-50">
        <div>KnowledgeBase</div>
        <div><img class="img-thumbnail" src="https://i.ibb.co/TLnFXX0/vector-knowledge.jpg"></div>
    </div>
    <div class="w-50">
        <div>123</div>
        <div>Join the worlds largest community for knowledge sharing</div>
        <div>123</div>
    </div>
</div>