{{>header}}
<div id="mainDiv">
    <div id="chatList" class="overflow-auto">
        <div class='chats d-flex justify-content-around'>
            <div class=""><img class='rounded-circle'src="https://randomuser.me/api/portraits/med/women/20.jpg" alt=""></div>
            <div class="">
                <div>Younhee Lee</div>
                <div>test subject</div>
            </div>
            <div>
                Oct 17
            </div>
        </div>
        <div class='chats d-flex justify-content-around'>
            <div class=""><img class='rounded-circle'src="https://randomuser.me/api/portraits/med/women/20.jpg" alt=""></div>
            <div class="">
                <div>Younhee Lee</div>
                <div>test subject</div>
            </div>
            <div>
                Oct 17
            </div>
        </div>
    </div>
    <div id="messages">
        {{!-------------------- hard coding test ------------------}}
        <div id='messages-messageArea' class='overflow-auto'>
            <div class="meesages-each d-flex">
                <div class="profilePic-message"><img class='rounded-circle'src="https://randomuser.me/api/portraits/med/women/20.jpg" alt=""></div>
                <div class="col-lg-10">
                    <div class="senderInfo d-flex">
                        <div>Younhee Lee</div>
                        <div>&#9900</div>
                        <div>17:40</div>
                    </div>
                    <div>
                        Helloooo younhee, I am sending test message and this is hard coded
                    </div>
                </div>
            </div>
            <div class="meesages-each d-flex">
                <div class="profilePic-message"><img class='rounded-circle'src="https://randomuser.me/api/portraits/med/women/20.jpg" alt=""></div>
                <div class="col-lg-10">
                    <div class="senderInfo d-flex">
                        <div>Younhee Lee</div>
                        <div>&#9900</div>
                        <div>17:40</div>
                    </div>
                    <div>
                        Helloooo younhee, I am sending test message and this is hard coded
                    </div>
                </div>
            </div>
        </div>
        {{!-- ----------------------------------------- --}}
        <div id='messages-sendArea' class='d-flex'>
            <textarea class='form-control'></textarea>
            <button class='btn btn-info'>Send</button>
        </div>
    </div>
</div>