{{>header}}
<div class="container">
    <div class="row">
        <div class="col-lg-6 col-md-8 col-sm-12 align-self-center">
            {{#if comments}}
            {{>post}}
            {{else}}
            {{>posts}}
            {{/if}}
        </div>
    </div>
</div>