{{>header}}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8 col-md-10 col-sm-12 align-self-center">
            {{#if postView}}
            {{>post}}
            {{else}}
            {{>posts}}
            {{/if}}
        </div>
    </div>
</div>