/* div {
    border-style: solid;
    border-width: 1px;
} */

html, body{
    height: 100%;
}
#mainDiv{
    margin-top: 3%;
    display:flex;
    height: 80%;
}
#chatList{
    width:30%;
    margin:0;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
    margin-left:1%;
}
#messages{
    padding:3%;
    padding-top:0;
    width: 70%;
    margin:0;
    margin-right:1%;
    margin-left: 1%;
    border-style: solid;
    border-width: 0.5px;
    border-color: lightgray;
}

#messages-messageArea{
    height:90%;
}

.chats{
    display:flex;
    margin:3%;
    margin-top:3%;
    padding-top: 2%;
    padding-bottom: 2%;
    color:black;
}

.chats div:nth-of-type(1){
    margin-right: 5%;
}
.chats div:nth-of-type(2){
    width:80%;
}
.chats div:nth-of-type(2){
    width:100%;
}
.chats div:nth-of-type(2) div:nth-of-type(1){
    width:100%;
    display: flex;
    justify-content: space-between;
}
.chats div:nth-of-type(2) div:nth-of-type(1) div:nth-of-type(1) {
    width:80%;
    margin:0;
}
.chats div:nth-of-type(2) div:nth-of-type(1) div:nth-of-type(2){
    width:25%;
    margin:0;
}

.chats:hover{
    background-color: lightsteelblue;
    cursor: pointer;
    text-decoration: none;
}

.senderInfo div{
    margin-right:2%;
}

.profilePic-message{
    width: 10%;
}

.profilePic-message img{
    width:50px;
    height:50px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.meesages-each{
    margin-top:2%;
}

.hr-text {
    line-height: 1em;
    position: relative;
    outline: 0;
    border: 0;
    color: black;
    text-align: center;
    height: 1.5em;
    opacity: .5;
  }
  .hr-text:before {
    content: '';
    background: linear-gradient(to right, transparent, #818078, transparent);
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: 1px;
  }
  .hr-text:after {
    content: attr(data-content);
    position: relative;
    display: inline-block;
    color: black;
    padding: 0 .5em;
    line-height: 1.5em;
    color: #818078;
    background-color: #fcfcfa;
  }