.row-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-flow: nowrap;
  padding-right: 1.5rem;
}

.post-img {
  max-width: 100px;
  max-height: 100px;
  border-radius: 50%;
  cursor: pointer;
}

.media-body .post-img {
  max-width: 50px;
  max-height: 50px;
}

.topic {
  border: 1px solid #04a4e8;
  padding: 0.2rem 1rem;
  color: #99d9ea;
}

.replies {
  text-decoration: underline;
  text-decoration-color: #04a4e8;
}

.media {
  padding: 1rem;
}

.comments {
  align-items: center;
}
