#mainImage { overflow:hidden; border: 1px solid; height: 300px; width: 300px;}
#mainImage img { height: 100%; }
#messageBtn { background-color: #0073B1; }
.likesPosts { font-weight: bold; color: #1673B1; }
